.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drayer{
  width: 200px;
  height: 500px;
  color: blue;
  border: solid;
}

.card p{
  text-align: left;
}

.card-title{
  margin-top: 25px;
}


.product-details-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.product-info {
  max-width: 600px;
}

.product-info h1 {
  margin-bottom: 20px;
}

.product-info p {
  margin-bottom: 10px;
}

.product-info strong {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
